@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider IsDarkMode="true" />
    <MudPopoverProvider />
    <MudDialogProvider MaxWidth="MaxWidth.Large" FullWidth="true" CloseButton="true" BackdropClick="false" CloseOnEscapeKey="true" />
    <MudSnackbarProvider />

    <main>
        <NavMenu />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
