@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider IsDarkMode="true" />
    <!-- NoHeader="true" Position="DialogPosition.Center" -->
    <MudDialogProvider MaxWidth="MaxWidth.Large" FullWidth="true" CloseButton="true" DisableBackdropClick="true" CloseOnEscapeKey="true" />
    <MudSnackbarProvider />

    <main>
        <NavMenu />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
